<!-- 投稿一覧 ------------------------->
<section class="container">
	<div class="row">
		<div class="col-8 offset-2">
			<div class="row">
				<div class="col-8">
					<% @posts.each do |post| %>
						<%= link_to users_post_path(post) do %>
							<div class="post_image">
									<%= attachment_image_tag post, :image, size: "300x200" %>
							</div>
							<div class="post_title">
								<%= truncate(post.title, length: 30) %>
							</div>
							<div class="post_body">
								<%= truncate(post.body, length: 150) %>
							</div>
							<div class="post_user">
								<%= post.user.name %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<h4>新着カテゴリー</h4>
						<% @categories.each do |category| %>
							<%= link_to "/customers/category/#{category.id}" do %>
								<%= category.name %>(<%= category.posts.count %>)
							<% end %>
						<% end %>
				</div>
			</div>
		</div>
	</div>
</section>

