<!-- 新規投稿 ------------------------->
<section class="container">
	<div class="row">
		<div class="col-6 offset-3 post_new">
			<h3 class="text-center">新規投稿</h3>
			<hr>
				<% if @post.errors.any? %>
	            	<div id="error_explanation">
	            		<h2><%= @post.errors.count %>件のエラーが発生しました。</h2>
	            		<ul>
	                 		<% @post.errors.full_messages.each do |message| %>
	                    		<li><%= message %></li>
	                  		<% end %>
	                	</ul>
	            	</div>
	            <% end %>
				<%= form_for(@post, url: users_posts_path, remote: true) do |f| %>
					<div class="col-12">
						<p class="btn btn-dark">画像</p><br>
						<%= f.attachment_field :image %>
						<hr>
						<div class="post_new_title_form">
							<p class="btn btn-dark">タイトル</p>
							<%= f.text_field :title, class: "form-control new_form", placeholder: "タイトル" %>
							<hr>
						</div>
						<hr>
						<div class="post_new_body_form">
							<p class="btn btn-dark">内容</p>
							<p class="btn btn-dark">カテゴリー(例:#映画 #アニメ)</p>
							<%= f.text_area :body, class: "form-control",
							 placeholder: "内容を記入してください。
カテゴリーは#の後に続けて記入してください。
(例 : #映画 #アニメ)", :size => "50x50" %>
							<hr>
						</div>
						<%= f.hidden_field :user_id, :value => current_user.id %>
					</div>
					<%= f.submit "投稿する", class:"form-control btn btn-danger" %>
				<% end %>
		</div>
	</div>
</section>