<!-- 投稿一覧 ------------------------->
<section class="container">
	<div class="row">
		<div class="col-8 offset-2 post_show">
			<div class="post_show_image">
				<%= attachment_image_tag @post, :image, class: "post_show_image" %>
			</div>
			<div class="post_show_title">
				<%= @post.title %>
			</div>
			<div class="post_show_user">
				<%= link_to users_user_path(@post.user) do %>
					<%= attachment_image_tag @post.user, :profile_image, fallback: "no_image.jpg", class:"rounded-circle", size: "30x30" %>
					<span class="post_user_name"><%= @post.user.name %></span>
				<% end %>
			</div>
			<div class="post_show_create">
				<%= @post.created_at.strftime("%Y年%m月%d日 %H:%M") %>
			</div>
			<div class="post_show_body">
				<%= simple_format(@post.body.gsub!(/[#＃][\w\p{Han}ぁ-ヶｦ-ﾟー]+/, "")) %>
			</div>
			<div class="post_show_category">
				<% if @post.categories.any? %>
	          		<% @post.categories.each do |category| %>
	            		<h4 class="post_show_category_name">#<%= category.name %></h4>
	          		<% end %>
        		<% end %>
			</div>
			<hr>
			<div class="post_show_comment">
			    <ul>
			        <li class="comment-create">
			            <h5 class="text-left">コメント</h5>
			        </li>
			        <div id="comments_area">
			            <%= render partial: 'users/comments/index', locals: { comments: @comments, comment_new: @comment, post: @post } %>
			        </div>
			    </ul>
			    <hr>
			    <% if user_signed_in? %>
			        <div class="comment-create">
			            <h5 class="text-left">コメントを投稿する</h5>
			            <%= render partial: 'users/comments/form', locals: { comment: @comment, post: @post } %>
			        </div>
			    <% end %>
			</div>
		</div>
	</div>
</section>