<div class="container">
    <div class="row">
      <div class="col-4 offset-4 post_new">
        <h2 class="text-center">ログイン</h2>
        <hr>
        <div class="test_user">
          <h4>テストユーザー</h4>
          <hr>
          <h5>メールアドレス：a@a.com</h5>
          <h5>パスワード：111111</h5>
        </div>
        <hr>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :メールアドレス %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
          <hr>

          <div class="field">
            <%= f.label :パスワード %><br />
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>
          <hr>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <hr>

          <div class="actions">
            <%= f.submit "ログイン", class: "btn-sm btn-danger form-control" %>
          </div>
        <% end %>
        <hr>

        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "新規登録はこちら", new_registration_path(resource_name), class: "btn btn-outline-dark" %><br />
          <% end %><hr>

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "パスワードを忘れましたか?", new_password_path(resource_name), class: "btn btn-outline-warning" %><br />
          <% end %>
      </div>
    </div>
  </div>
